@use "design-system";
// by using @use, and dropping the file extension, sass will inline the
// stylesheet instead of creating generating an `import(carousel.css)`. This is
// desirable because it reduces the number of render-blocking requests on app
// startup.
@use "react-responsive-carousel/lib/styles/carousel";

.get-started {
  &__logo {
    text-align: center;
  }

  &__social-icon {
    width: 24px;
    height: 24px;
  }

  &__plain-button {
    width: 100%;
    height: 48px;
    border-radius: 24px;
    background-color: var(--color-background-transparent);
    border: 1px solid var(--color-border-muted);
    padding: 0 16px;
    &:hover {
      background-color: var(--color-background-hover);
    }
    &:active {
      background-color: var(--color-background-pressed);
    }
  }

  &__plain-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__or {
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: var(--color-border-muted);
    }
  }

  &__or-text {
    background-color: var(--color-background-default);
    padding: 0 10px;
    width: fit-content;
    margin: auto;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
  }

  &__mascot {
    width: 250px;
    height: 250px;
    margin: 20px auto;
  }

  &__image {
    text-align: center;
    margin: 20px auto;
  }

  &__buttons {
    margin: 223px auto 0 auto;

    li {
      margin-bottom: 16px;
    }

    &--modal {
      margin: 0 16px;
      max-width: none;
    }
  }

  &__terms-checkbox {
    margin: 0;
    align-self: flex-start;
  }
}

.options-modal {
  // SRP_OVERRIDE: center modal content
  .mm-modal-content {
    align-items: center;
  }
}
