.import-srp {
  margin-bottom: 24px;

  &__step {
    text-align: left;
  }

  &__header {
    text-align: left;
    margin-bottom: 4px;
  }

  &__description {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 4px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: auto;
  }

  &__confirm-button {
    max-width: 327px;
    margin: auto;
    margin-top: 24px;
  }
}
