@use "design-system";
// by using @use, and dropping the file extension, sass will inline the
// stylesheet instead of creating generating an `import(carousel.css)`. This is
// desirable because it reduces the number of render-blocking requests on app
// startup.
@use "react-responsive-carousel/lib/styles/carousel";

.onboarding-welcome {
  &__logo {
    text-align: center;
  }

  &__or {
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: var(--color-border-muted);
    }
  }

  &__or-text {
    background-color: var(--color-background-default);
    padding: 0 10px;
    width: fit-content;
    margin: auto;
    position: relative;
    z-index: 1;
  }

  &__mascot {
    width: 250px;
    height: 250px;
    margin: 20px auto;
  }

  &__image {
    text-align: center;
    margin: 20px auto;
  }

  &__buttons {
    max-width: 300px;
    margin: 40px auto 0 auto;

    li {
      margin-bottom: 16px;
    }
  }

  &__terms-checkbox {
    margin: 0;
    align-self: flex-start;
  }
}
