@use "design-system";

.welcome {
  &__title {
    text-align: center;
  }

  &__title-text {
    font-family: var(--font-family-hero);
    color: var(--brand-colors-purple-purple800);
    font-size: 104px;
    line-height: 110px;
    text-align: center;
    text-transform: uppercase;
  }

  &__mascot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
  }

  &__button-container {
    width: 343px;
    margin: 0 auto;
  }

  &__button {
    background-color: #fff;
  }

  &__button-text {
    color: var(--brand-colors-purple-purple800);
  }
}
