@use "design-system";

.welcome-banner {
  &__title {
    text-align: center;
    margin: 0 auto;
    max-width: 1048px;
  }

  &__title-text {
    font-family: var(--font-family-hero);
    color: var(--brand-colors-purple-purple800);
    font-size: 104px;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;

    @include design-system.screen-lg-max {
      font-size: 80px;
    }
  }

  &__mascot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -107px;

    &--image {
      margin-top: -40px;
      margin-bottom: 92px;
    }
  }

  &__button-container {
    width: 343px;
    margin: 0 auto;
  }

  // SRP_OVERRIDE: bg always white
  &__button {
    background-color: #fff;
  }

  // SRP_OVERRIDE: text always purple
  &__button-text {
    color: var(--brand-colors-purple-purple800);
  }
}
