@use "design-system";

.privacy-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  &__tag {
    padding: 2px 8px;
    border-radius: 4px;
  }

  .container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
  }

  .hidden {
    display: none;
  }

  .list-view,
  .detail-view {
    flex: 0 0 100%;
    width: 100%;
  }

  /* slide in show the detail view */
  .container.show-detail {
    transform: translateX(-100%);
  }

  /* slide back to show the list view */
  .container.show-list {
    transform: translateX(0%);
  }

  &__customizable-network:hover {
    cursor: pointer;
  }

  &__group-settings {
    display: flex;
    flex-direction: column;
    gap: 1px;
    .privacy-settings__setting__wrapper {
      margin-top: 0;
      margin-bottom: 0;
    }
    .privacy-settings__setting__wrapper:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    .privacy-settings__setting__wrapper:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .privacy-settings__setting__wrapper:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
