@use "design-system";

@import 'account-exist/index';
@import 'account-not-found/index';
@import 'recovery-phrase/index';
@import 'onboarding-app-header/index';
@import 'secure-your-wallet/index';
@import 'privacy-settings/index';
@import 'create-password/index';
@import 'creation-successful/index';
@import 'wallet-ready/index';
@import 'welcome/index';
@import 'import-srp/index';
@import 'pin-extension/index';
@import 'metametrics/index';
@import 'get-started/index';
@import 'password-hint/index';

.onboarding-flow {
  background-color: var(--color-background-default);
  padding: 0 16px;
  width: 100%;

  &--welcome {
    background-color: #EAC2FF;
  }

  &__wrapper {
    margin: 12px auto auto;
    padding: 24px;
    width: 100%;
    max-width: 446px;
    border: 1px solid var(--color-border-muted);
    border-radius: 8px;

    &--welcome {
      margin: 120px auto auto;
      border: none;
      max-width: inherit;
    }

    &--unlock {
      margin: auto;
      padding: 0;
      border: none;
    }
  }

  &__twitter-button {
    margin-bottom: 40px;
    vertical-align: middle;

    &__icon {
      margin-left: 4px;
    }
  }
}
