@use "design-system";

.privacy-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  &__tag {
    padding: 2px 8px;
    border-radius: 4px;
  }

  .container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
  }

  .hidden {
    display: none;
  }

  .list-view,
  .detail-view {
    flex: 0 0 100%;
    width: 100%;
  }

  /* slide in show the detail view */
  .container.show-detail {
    transform: translateX(-100%);
  }

  /* slide back to show the list view */
  .container.show-list {
    transform: translateX(0%);
  }

  &__customizable-network:hover {
    cursor: pointer;
  }
}
